:root {
    --darker-color:  #1C6758;
    --dark-color: #3D8361;
    --ligth-color: rgb(214, 205, 164);
    --ligther-color: #EEF2E6;
}

body {
    box-sizing: border-box;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: var(--darker-color);
    font-family: 'Caveat Brush', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 320px;
    height: 520px;
    border: 6px solid black;
    border-radius: 30px;
    margin: 0 auto;
    background-color:var(--ligther-color) ;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 100px 320px 100px;
    align-items: center;
    justify-content: center;
}

h1 {
    grid-row: 1/2 ;
    display: block;
    font-size: 30px;
    text-align: center;
    color: var(--dark-color);
    height: max-content;
    margin: 0;
    padding: 8px 0;
    filter: drop-shadow(0px 0px 3px rgba(3, 8, 7, 0.171));;
}

.img-container, .fav-img-container, .uploading  {
    grid-row: 2/3;
    margin: 0 auto;
    width: 90%;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    scroll-behavior: smooth;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

label[for="file"] {
    color: var(--ligth-color);
    background-color: var(--darker-color);
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: auto;
    padding: 2px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(3, 8, 7, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.5);
    }

label[for="file"]:hover {
    transform: scale(1.7);
}

input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

img#upload-output {
    width: 200px;
    height: auto;
}

.img-card, .fav-img-card {
    position: relative;
    width: 100%;
    height: auto;
}

img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(3, 8, 7, 0.4);
}

.btn-container {
    row-gap: 3/4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    text-align: center;
    cursor: pointer;
    color:var(--darker-color);
    background-color: var(--ligth-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px 2px rgba(3, 8, 7, 0.4);
    padding: 4px;
}

button:hover {
    transform: scale(1.1);
}

button.favorite {
    position: absolute;
    z-index: 2;
    right: 4px;
    bottom: 8px;
    padding-top: 10px;
}

h2 {
    grid-row: 1/2;
    font-size: 30px;
    text-align: center;
    color: var(--dark-color);
}

p {
    font-size: 25px;
    text-align: center;
    color: var(--dark-color);
}

.hidden {
    display: none;
}


#error {
    grid-row: 2/3;
    color: rgb(194, 3, 3);
    background-color: rgba(255, 0, 0, 0.267);
    width: 320px;
    height: auto;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }



/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--darker-color) transaparent;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transaparent;
    
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:var(--darker-color);
    border-radius: 20px;
    border: transparent;
    
  }